<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sudoku Solver</title>
        <meta name="description" content="">

        <link rel="shortcut icon" href="favicon.ico">

        <!-- Latest Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
          table { border-collapse: collapse; font-family: Calibri, sans-serif; }
          colgroup, tbody { border: solid medium; }
          td { border: solid thin; height: 2.4em; width: 2.4em; text-align: center; padding: 0; }

    		</style>
        <!-- jQuery Library -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest Compiled JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>

    <body>
      <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 mx-auto">
              <h1>{{error}}</h1>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
